@charset "UTF-8";

article,
aside,
audio,
canvas,
command,
datalist,
details,
embed,
figcaption,
figure,
footer,
header,
hgroup,
keygen,
meter,
nav,
output,
progress,
section,
source,
video {
  display: block;
}

mark,
rp,
rt,
ruby,
summary,
time {
  display: inline;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
  font-weight: normal;
  line-height: 1.1;
}

ul,
p,
figure,
label {
  margin-bottom: 0;
}

button {
  outline: none !important;
  background-color: transparent;
  border-color: transparent;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
